{
  "presets": [
    "react",
    "es2015",
    "stage-3"
  ],
  "plugins": [
    "transform-node-env-inline",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-inline-environment-variables"
  ]
}
